* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



/* ---------------- HEADER ---------------- */
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-left a {
    margin-left: 35px;
    text-decoration: none;
    color: #000000;
    font-size: 11px;
    font-weight: 700;

}

.user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 29px;
    padding: 0px;

}

/* ---------------- TRENDING SECTION ---------------- */
.container {
    width: 90%;
    margin: 40px auto;
}

.section-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    gap: 25px;
}

.card {
    width: 31%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.img-box {
    position: relative;
    width: 362px;
    height: 171px;
}

.img-box img {
    width: 362px;
    height: 186px;
    object-fit: cover;
}

.img-title {
    position: absolute;
    bottom: 132px;
    left: 41px;
    top: 32px;
    right: 137px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    width: 184px;
    height: 23px;
    line-height: 100%;
}

.card-content {
    padding: 18px;
}

.desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.time {
    font-size: 13px;
    color: #777;
}

/* ---------------- HAPPENING NOW ---------------- */
.happening-container {
    width: 90%;
    margin: 40px auto;
}

.happening-grid {
    display: flex;
    gap: 25px;
}

.left-column {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.big-img-box,
.wide-img-box {
    height: 330px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.big-img-box img,
.wide-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-title {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    left: 278px;
    right: 278px;
    top: 203px;
    bottom: 204px;
    color: white;
    
}

.right-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.small-img-box {
    height: 140px;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------- FOOTER ---------------- */
.footer {
    background: #1d2939;
    padding: 60px 0;
    margin-top: 60px;
}

.footer-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    color: #cdd1d4;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-text {
    color: #d0d4d7;
    width: 250px;
    text-align: center;
    font-size: 14px;
}

.footer-logo {
    text-align: center;
    color: white;
}

.footer-logo img {
    width: 35px;
    filter: brightness(0) invert(1);
    margin-bottom: 5px;
}

.footer-logo span {
    font-size: 13px;
    display: block;
}
